
{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
<script src={% static 'stacker/header-script.js'  %}></script>
<link rel="stylesheet" href={% static 'stacker/header-style.css'  %}>

<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper grey darken-3">
        <span class="toggle-button">
        <div class="menu-bar menu-bar-top"></div>
        <div class="menu-bar menu-bar-middle"></div>
        <div class="menu-bar menu-bar-bottom"></div>
        </span> 
    </div>
    <div class="menu-wrap">
        <div class="menu-sidebar">
            <ul class="menu">
                <li><a href={% url 'stacker:index'  %}>Home</a></li>
                <li><a href={% url 'stacker:blog' %}>Blog</a></li>
                <li><a href={% url 'stacker:contact' %}>Contact</a></li>
                <li><a href='https://github.com/sean7218'>Github</a></li>
            </ul>
        </div>
    </div>
</nav>
</div>






